<div class="admin-container">

<mat-card class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Analytics</mat-card-title>
        <mat-card-subtitle>Matomo</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../../assets/img/matomo.png" alt="Matomo">
    <mat-card-content>

    </mat-card-content>
    <mat-card-actions>
        <a href="http://3.91.196.167" target="_blank" style="position: relative; left: 30%;" mat-button>Se Connecter</a>
    </mat-card-actions>
</mat-card>

<mat-card class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Monitoring</mat-card-title>
        <mat-card-subtitle>Prometheus</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../../assets/img/prometheus.png" alt="Matomo">
    <mat-card-content>

    </mat-card-content>
    <mat-card-actions>
        <a href="http://3.91.196.167:9090" target="_blank" style="position: relative; left: 30%;" mat-button>Se Connecter</a>
    </mat-card-actions>
</mat-card>

<mat-card class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Monitoring</mat-card-title>
        <mat-card-subtitle>Grafana</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../../assets/img/grafana.jfif" alt="Matomo">
    <mat-card-content>

    </mat-card-content>
    <mat-card-actions>
        <a href="http://3.91.196.167:3000" target="_blank" style="position: relative; left: 30%;" mat-button>Se Connecter</a>
    </mat-card-actions>
</mat-card>

    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Messaging</mat-card-title>
            <mat-card-subtitle>Kafka</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../../assets/img/kafka.jfif" alt="Matomo">
        <mat-card-content>

        </mat-card-content>
        <mat-card-actions>
            <a href="http://3.87.90.191:11003" target="_blank" style="position: relative; left: 30%;" mat-button>Se Connecter</a>
        </mat-card-actions>
    </mat-card>

    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>IAM</mat-card-title>
            <mat-card-subtitle>Keycloak</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../../assets/img/keycloak.png" alt="Matomo">
        <mat-card-content>

        </mat-card-content>
        <mat-card-actions>
            <a href="http://3.87.90.191:10000" target="_blank" style="position: relative; left: 30%;" mat-button>Se Connecter</a>
        </mat-card-actions>
    </mat-card>

    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Integration-Continue</mat-card-title>
            <mat-card-subtitle>Jenkins</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../../assets/img/jenkins.png" alt="Matomo">
        <mat-card-content>

        </mat-card-content>
        <mat-card-actions>
            <a href="http://3.87.90.191:11000" target="_blank" style="position: relative; left: 30%;" mat-button>Se Connecter</a>
        </mat-card-actions>
    </mat-card>

    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Centralisation de logs</mat-card-title>
            <mat-card-subtitle>Elastic Search</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../../assets/img/elasticsearch.png" alt="Matomo">
        <mat-card-content>

        </mat-card-content>
        <mat-card-actions>
            <button style="position: relative; left: 30%;" mat-button>Se Connecter</button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Centralisation de logs</mat-card-title>
            <mat-card-subtitle>Kibana</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../../assets/img/kibana.png" alt="Matomo">
        <mat-card-content>

        </mat-card-content>
        <mat-card-actions>
            <button style="position: relative; left: 30%;" mat-button>Se Connecter</button>
        </mat-card-actions>
    </mat-card>

</div>